body{
  margin: 0;
}

.container{
  margin: 0 56px;
}

.header{
  background-image: url(../img/bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
}

.holder{
  display: flex;
  align-items: center;
}

.cart{
  margin-right: 10px;
}

.header-line{
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search{
  margin-right: 40px;
}

.button-up{
  color: #156963;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 14px;

  background-color: #FFF;
  padding: 8px 35px;

  transition: color 0.1s linear;
  transition: background-color 0.1s linear;
}

.button-in{
  color: #fff;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 14px;

  background-color: #156963;
  padding: 8px 35px;

  transition: color 0.1s linear;
  transition: background-color 0.1s linear;
}



.header-title{
  color:#156963;
  font-family: Montserrat;
  font-size: 68px;
  font-weight: 500;
  padding: 120px 77px 24px 750px;
}

.header-subtitle{
  color:#2C1500;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  padding: 0 102px 110px 750px;
  opacity: 0.8;
  line-height: 32px;
}

.button-up:hover{
  color:#FFF;
  background-color: #448e89;
}

.button-in:hover{
  background-color: #448e89;
}

.box{
  display: flex;
  justify-content: right;
}

.wbox{
  background-color: #FFF;
  padding: 40px 49px 38px 49px;
}

.gbox{
  background-color: #156963;
  padding: 40px 49px 38px 49px;
}

.text-p{
  color:#333;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  margin-left: 8px;
  opacity: 50%;
}

.text-n{
  color:#ffffff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  opacity: 50%;
}

.text-un-p{
  color: #156963;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 500;
}

.text-un-n{
  color:#FFF;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 500; 
}

.p-box{
  display: flex;
  align-items: center;
}

.n-box{
  display: flex;
  align-items: center;
}

.arrow-p{
  opacity: 50%;
}

.arrow-n{
  margin-left: 8px;
  opacity: 50%;
}
.medium{
  height: 100vh;
}

.medium-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
}

.box-1{
  padding: 22px 16px 21px 16px;
}

.step-1{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.text-1{
  color:#156963;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  margin-left: 16px;
}

.subtext-1{
  color:#2C1500;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}



.box-2{
  padding: 22px 16px 21px 16px;
  margin-left: 50px;
}

.step-2{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.text-2{
  color:#156963;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  margin-left: 16px;
}

.subtext-2{
  color:#2C1500;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}



.box-3{
  padding: 22px 16px 21px 16px;
  margin-left: 50px;
}

.step-3{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.text-3{
  color:#156963;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  margin-left: 16px;
}

.subtext-3{
  color:#2C1500;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}



.box-4{
  padding: 22px 16px 21px 16px;
  margin-left: 50px;
}

.step-4{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.text-4{
  color:#156963;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  margin-left: 16px;
}

.subtext-4{
  color:#2C1500;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}



.featured-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

.f-menu-box{
  display: flex;
  align-items: center;
}

.f-title{
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
}

.f-menu{
  color: #000;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
}

.f-arrow{
  margin-left: 12px;
}